html {
    text-align: center;
    font-family: cursive;
    background: url("bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: ivory;

}

h2 {
    font-size: 50px;
}

body {
    font-size: 25px;
}

h4 {
    text-align: center;
    font-family: cursive;
    background: url("bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: ivory;
}

p {
    text-align: center;
    font-family: cursive;
    color: ivory;
}

li {
    text-align: center;
    font-family: cursive;
    color: ivory;
}

article {
    text-align: center;
    font-family: cursive;
    color: ivory;
}